/*Globall*/
:root {
  /*color*/
  --color-whtite: #ffffff;
  --color-blue: blue;
  --color-dark-grey: #4d4d4d;
  --color-black: #000000;
  --color-pink: #d864ce;
  --color-yellow: #c9e914;
  --color-orange: #f09b2d;

  /*font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*font weigth*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*size*/
  --size-border-radius: 4px;

  /*Animaiton*/
  --animaiton-duration: 300ms;
}

/*univerxal tags*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-whtite);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent; /*transparent 키워드 : 완전히 투명한 색을 의미하는 키워드. 기술적으로는 rgba(0,0,0,0)과 같다.*/
  cursor: pointer;
  border: none;
  outline: none;
}

/*typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

/*navar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-whtite);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-whtite);
}

.navbar__menu__item:hover {
  background-color: var(--color-black);
}

/* home */
#home {
  background: url("images/homebackground-200515-154505.png") center/cover
    no-repeat;
  padding: 40px;
  text-align: center;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-whtite);
}

.home_title,
.home_dicription {
  color: var(--color-whtite);
}

.home_contact {
  color: var(--color-whtite);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-whtite);
  border-radius: var(--size-border-radius);
}

/* section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto; /*section의 마진을 가운데 기준으로 일정하게 해준다.*/
}

.section_container {
  max-width: 1200px;
  margin: auto;
}
/* about */
.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major_icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 72px;
  margin: auto;
  color: var(--color-blue);
  opacity: 0.7;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major_icon i {
  transition: all var(--animaiton-duration) ease; /* 애니메이션은 300ms가 가장 무난하다*/
}

.major_icon i:hover {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major_title,
.major_description {
  color: var(--color-dark-grey);
}

.major_description {
  font-size: var(--font-small);
}

.procject_logo {
  width: 300px;
  height: 50px;
}

.projects {
  display: flex;
  align-items: center;
}

.project_description {
  margin: 0 16px;
}

.projects_name,
.projects_period {
  color: var(--color-dark-grey);
}

..projects_name {
  font-size: var(--font-small);
}

.projects_period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: rgb(63, 58, 58);
  color: var(--color-whtite);
  margin: 20px 0;
}

.sillset_title {
  color: var(--color-whtite);
}

.skillset_left {
  flex-basis: 60%; /* flex의 사이즈를 결정한다 */
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skill_value {
  height: 3px;
  background-color: orange;
}

.skillset_right {
  flex-basis: 40%;
}

.tools {
  background-color: gray;
}

.tools,
.etc {
  padding: 20px;
}

/* work */
.work_categories {
  margin: 40px;
}

.category_btn {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  margin: 0px 5px;
}

.category_btn.active,
.category_btn:hover {
  background-color: var(--color-pink);
  color: var(--color-whtite);
}

.category_btn.active .category_count,
.category_btn:hover .category_count {
  opacity: 1;
  top: 0;
}

.category_count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-whtite);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animaiton-duration) ease-in;
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-whtite);
}

.project_img {
  max-width: 100%;
  max-height: 100%;
}

.projects_description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animaiton-duration) ease-in;
}

.project:hover .projects_description {
  opacity: 0.8;
  transform: translateY();
}

.projects_description h3 {
  color: var(--color-whtite);
}

.projects_description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  width: 25px;
  height: 2px;
  background-color: var(--color-whtite);
}

/* testerminal */
#testimonials {
  background-color: lightgray;
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0px;
}

.testimonial_avarta {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial_avarta:nth-child(odd) {
  margin-right: 40px;
}

.testimonial_avarta:nth-child(even) {
  margin-left: 40px;
}

.testimonial_speech-bubble {
  padding: 18px;
  background-color: var(--color-whtite);
  border-radius: var(--size-border-radius);
}

.testimonial_speech-bubble p {
  color: var(--color-dark-grey);
}

.testimonial_speech-bubble a {
  color: var(--color-pink);
}
